.header {
  position: relative;
  padding-bottom: 0 !important;
}
.poster_wrap {
  position: relative;
}
.img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 6px;
}
.card_poster {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 150%;
  border-radius: 8px;
  margin-bottom: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img_wrap {
  padding: 0 12px;
}

@media (min-width: 600px) {
  .header {
    padding-top: 84px !important;
  }
  .poster {
    left: 0;
    right: 0;
    padding: 8px;
    z-index: 3;
    position: absolute;
  }
  .img_wrap {
    padding: 12px;
    background: #171717;
    border-radius: 6px;
  }
  .actions {
    padding: 16px 16px 0;
    text-align: center;
  }

  .action {
    padding: 8px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}
@media (max-width: 599px) {
  .poster_wrap {
    background-color: #121212;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 150% !important;
    background-size: cover;
    background-position: 50%;
  }
  .poster {
    display: none;
  }
  .actions {
    width: 100%;
    margin: 8px 0px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  .action {
    font-size: 13px;
    border-radius: 16px;
  }
  .mini_actions {
    display: none;
  }
  .action:last-child {
    margin-left: 8px;
  }
}
