.dilog {
  width: 100%;
  max-width: 360px !important;
  overflow-y: visible;
}
.wrap {
  margin: auto;
  padding: 24px;
  border-radius: 8px;
}
.title {
  width: auto;
  margin: 0px -8px;
  padding: 16px 0px;
  text-align: center;
  margin-bottom: 0;
}
.title_text {
  margin: 1em 0;
  font-weight: 600;
}
.form {
  padding: 16px 16px 24px;
}
