.toolBar {
  width: 100%;
  display: flex;
  padding: 2px 15px;
  flex-wrap: nowrap;
  min-height: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.header {
  padding: 8px 0;
  border-bottom: none;
  width: 100%;
  border: 0;
  display: flex;
  padding: 0;
  flex-flow: column;
  box-shadow: none;
  transition: all 200ms ease 0s;
  align-items: center;
  border-bottom: none;
  margin-bottom: 0px;
  justify-content: space-between;
  max-height: 72px;
}
.transparent {
  padding: 8px 0;
  box-shadow: none;
  border-bottom: none;
  background-color: transparent;
}
.home {
  width: 44px;
  height: 44px;
  margin-right: 9px;
  border-radius: 6px;
}

.list {
  margin: 8px 6px 6px;
  display: flex;
  flex-direction: column;
}

.drawer_wrap {
  margin: 6px 0;
  padding: 8px;
  padding-left: 8px;
  border-radius: 6px;
}
.block {
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  width: 100%;
}
.navigation_button {
  justify-content: space-between;
  color: inherit;
  padding: 0.775rem;
  font-size: 1.125em;
  border-radius: 6px;
}
.navigation_text {
  text-transform: capitalize;
}
.navigation_icon {
  justify-content: flex-end;
  display: none;
  min-width: 0;
}
@media (max-width: 600px) {
  .header {
    padding: 8px 0;
  }
  .navigation_icon {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 959.95px) {
  .home {
    width: 36px;
    height: 36px;
    min-width: 36px;
    background: #171717;
    border-radius: 50%;
  }
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .navigation_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navigation_icon {
    margin-right: 6px;
  }
}
@media (min-width: 1200px) {
  .toolBar {
    max-width: 1340px;
  }
}
